.wrap {
  background-color: #f7f7f782;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  display: flex;
  color: #333333;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
